@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .App{
        @apply h-auto bg-bg-blue
    }

    .quiz-logo{
        @apply w-60 sm:w-40 
    }

    .points{
        @apply fixed z-20 top-1 right-1 text-blue-900 font-bold text-lg px-6 py-4 text-center m-0 bg-page-yellow rounded-lg border-4 border-black;
    }
    .question-container{
        @apply max-w-3xl h-3/5 overflow-y-scroll;
    }
    .question-card{
        @apply bg-blue-200 text-gray-800 font-bold m-5 rounded-md  max-w-3xl;
    }
    .answer-card{
        @apply  bg-sky-700  rounded rounded-t-none;
    }
    .default-answer{
        @apply px-3 py-1 m-2 bg-cyan-950 text-blue-400 rounded;
    }
    .correct-answer{
        @apply px-3 py-1 m-2 bg-green-500 text-black rounded;
    }
    .incorrect-answer{
        @apply px-3 py-1 m-2 bg-orange-700 text-black rounded text-white;
    }


    .check-points{
        @apply fixed z-20 bottom-3 left-1/2 transform -translate-x-1/2 -translate-y-1/2  bg-slate-200 text-blue-900 font-bold text-lg px-6 py-4 rounded-full text-center m-0;
    }

    .buttons-style{
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-8;
    }


    .results-container{
        @apply bg-sky-200 w-1/3 text-center backdrop-blur-md sm:w-3/4 sm:max-w-xs;
    }

    .TimerIsUp-modal{
        @apply fixed top-0 left-0 w-full h-screen z-10 bg-slate-900 bg-opacity-80 flex justify-center align-middle
    }

    .TimerIsUp-text-container{
        @apply  w-6/12 h-3/6 text-center flex justify-around align-middle flex-col m-auto bg-orange-200 p-20 sm:w-10/12 sm:h-auto 
    }
    .TimerIsUp-text-container div{
        @apply md:h-fit md:p-12 md:m-12
    }

    .counting-time{
        @apply bg-white absolute top-2/4 left-10 z-10 flex flex-col p-4 text-center rounded-lg text-lg  sm:top-5 sm:left-1/2 sm:transform sm:-translate-x-1/2 md:top-5 md:left-1/2 md:transform md:-translate-x-1/2 
    }

    .game-options-container{
        @apply flex flex-col items-center mb-6 bg-opacity-90 
        h-auto p-6 rounded-lg sm:w-11/12 
    }
    .select-difficulty-container{
        @apply flex items-center space-x-4 border border-black
    }

    .diff-range-wrapper{
        @apply flex items-center  p-3 rounded  sm:flex-col sm:justify-center sm:items-center
    }

    .instruction-container{
        @apply bg-page-yellow bg-opacity-50 font-bold w-96 p-6 rounded-lg sm:w-11/12
    }

};

/* .TimerIsUp-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: #1526415e;
    z-index: 5;
} */